.doit.db
.DS_Store
._.DS_Store

# files that belong in private and not in PUBLIC
topics/08-Classification1/02-Practical/files/regenerateLinks.sh

# Resources that are not for sharing with the students
resources/Algae_Blooms_-_EDA_code_snippets.zip
resources/Marks_code_snippets.zip
resources/Tips_-_EDA_code_snippets.zip
resources/Titanic_-_EDA_code_snippets.zip
resources/Titanic_-_Model_Tuning_and_Inspection_code_snippets.zip
resources/Analysis.csv
resources/tips.csv
resources/train.csv
resources/BiasVariance_code_snippets.zip
resources/Model_Building_code_snippets.zip
resources/polyExample_code_snippets.zip
resources/Columns_code_snippets.zip
resources/Credit.csv
resources/CreditBalance_code_snippets.zip
resources/Diamonds_code_snippets.zip
resources/GMM_KM_code_snippets.zip
resources/KNN_code_snippets.zip
resources/LR_code_snippets.zip
resources/LR_pipe_code_snippets.zip
resources/Logistic_Regression_code_snippets.zip
resources/PCA_introduction_code_snippets.zip
resources/diamond.dat.txt
resources/digits_pipe_code_snippets.zip
resources/residualCorrelation_code_snippets.zip
resources/team.csv
resources/02-QueryingSeries_code_snippets.zip
resources/1D_Curve_Fitting_code_snippets.zip
resources/skewNormDist_code_snippets.zip
resources/measlesPCA_code_snippets.zip
resources/channels_code_snippets.zip
resources/CA3_code_snippets.zip
resources/Test_01_code_snippets.zip
resources/drug_consumption_quantified.zip
resources/CA3spec_code_snippets.zip
resources/DT_code_snippets.zip
resources/NB_KNN_code_snippets.zip
resources/pima-indians-diabetes.csv
resources/playTennis.csv
resources/GMM_DBSCAN_code_snippets.zip
resources/KM_GMM_code_snippets.zip
resources/complexDataForClustering.npy

topics/06-Data_Modelling/01-Data_Modelling_-_Introduction/files/
