.doit.db
.DS_Store
._.DS_Store

# Resources that are not for sharing with the students
resources/Algae_Blooms_-_EDA_code_snippets.zip
resources/Marks_code_snippets.zip
resources/Tips_-_EDA_code_snippets.zip
resources/Titanic_-_EDA_code_snippets.zip
resources/Titanic_-_Model_Tuning_and_Inspection_code_snippets.zip
resources/Analysis.csv
resources/tips.csv
resources/train.csv
